/**
 * CSS Flexbox Grid
 *
 * @author miWebb <info@miwebb.com>
 * @version 1.0.0
 */
[class^='row'], [class^='col'] {
  box-sizing: border-box; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }
  .row.row--same-size {
    align-items: normal; }
  .row.row--reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .row.row--top {
    align-items: flex-start; }
  .row.row--middle {
    align-items: center; }
  .row.row--bottom {
    align-items: flex-end; }
  .row.row--left {
    justify-content: flex-start; }
  .row.row--center {
    justify-content: center; }
  .row.row--right {
    justify-content: flex-end; }
  .row.row--around {
    justify-content: space-around; }
  .row.row--between {
    justify-content: space-between; }
  .row.row--evenly {
    justify-content: space-evenly; }
  .row:not(.row--no-gutter) [class^='col'] {
    padding-left: 15px;
    padding-right: 15px; }
  .row .col {
    flex: 1 0 0; }
  .row .col-offset-0 {
    margin-left: 0; }
  .row .col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .row .col-offset-1 {
    margin-left: 8.3333333333%; }
  .row .col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .row .col-offset-2 {
    margin-left: 16.6666666667%; }
  .row .col-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .row .col-offset-3 {
    margin-left: 25%; }
  .row .col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .row .col-offset-4 {
    margin-left: 33.3333333333%; }
  .row .col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .row .col-offset-5 {
    margin-left: 41.6666666667%; }
  .row .col-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .row .col-offset-6 {
    margin-left: 50%; }
  .row .col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .row .col-offset-7 {
    margin-left: 58.3333333333%; }
  .row .col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .row .col-offset-8 {
    margin-left: 66.6666666667%; }
  .row .col-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .row .col-offset-9 {
    margin-left: 75%; }
  .row .col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .row .col-offset-10 {
    margin-left: 83.3333333333%; }
  .row .col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .row .col-offset-11 {
    margin-left: 91.6666666667%; }
  .row .col-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .row .col-offset-12 {
    margin-left: 100%; }
  @media screen and (max-width: 1440px) {
    .row .col-desktop {
      flex: 1 0 0; }
    .row .col-desktop-offset-0 {
      margin-left: 0; }
    .row .col-desktop-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%; }
    .row .col-desktop-offset-1 {
      margin-left: 8.3333333333%; }
    .row .col-desktop-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; }
    .row .col-desktop-offset-2 {
      margin-left: 16.6666666667%; }
    .row .col-desktop-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col-desktop-offset-3 {
      margin-left: 25%; }
    .row .col-desktop-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .row .col-desktop-offset-4 {
      margin-left: 33.3333333333%; }
    .row .col-desktop-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; }
    .row .col-desktop-offset-5 {
      margin-left: 41.6666666667%; }
    .row .col-desktop-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col-desktop-offset-6 {
      margin-left: 50%; }
    .row .col-desktop-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%; }
    .row .col-desktop-offset-7 {
      margin-left: 58.3333333333%; }
    .row .col-desktop-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; }
    .row .col-desktop-offset-8 {
      margin-left: 66.6666666667%; }
    .row .col-desktop-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col-desktop-offset-9 {
      margin-left: 75%; }
    .row .col-desktop-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%; }
    .row .col-desktop-offset-10 {
      margin-left: 83.3333333333%; }
    .row .col-desktop-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%; }
    .row .col-desktop-offset-11 {
      margin-left: 91.6666666667%; }
    .row .col-desktop-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .row .col-desktop-offset-12 {
      margin-left: 100%; } }
  @media screen and (max-width: 1024px) {
    .row .col-tablet {
      flex: 1 0 0; }
    .row .col-tablet-offset-0 {
      margin-left: 0; }
    .row .col-tablet-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%; }
    .row .col-tablet-offset-1 {
      margin-left: 8.3333333333%; }
    .row .col-tablet-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; }
    .row .col-tablet-offset-2 {
      margin-left: 16.6666666667%; }
    .row .col-tablet-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col-tablet-offset-3 {
      margin-left: 25%; }
    .row .col-tablet-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .row .col-tablet-offset-4 {
      margin-left: 33.3333333333%; }
    .row .col-tablet-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; }
    .row .col-tablet-offset-5 {
      margin-left: 41.6666666667%; }
    .row .col-tablet-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col-tablet-offset-6 {
      margin-left: 50%; }
    .row .col-tablet-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%; }
    .row .col-tablet-offset-7 {
      margin-left: 58.3333333333%; }
    .row .col-tablet-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; }
    .row .col-tablet-offset-8 {
      margin-left: 66.6666666667%; }
    .row .col-tablet-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col-tablet-offset-9 {
      margin-left: 75%; }
    .row .col-tablet-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%; }
    .row .col-tablet-offset-10 {
      margin-left: 83.3333333333%; }
    .row .col-tablet-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%; }
    .row .col-tablet-offset-11 {
      margin-left: 91.6666666667%; }
    .row .col-tablet-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .row .col-tablet-offset-12 {
      margin-left: 100%; } }
  @media screen and (max-width: 640px) {
    .row .col-mobile {
      flex: 1 0 0; }
    .row .col-mobile-offset-0 {
      margin-left: 0; }
    .row .col-mobile-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%; }
    .row .col-mobile-offset-1 {
      margin-left: 8.3333333333%; }
    .row .col-mobile-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; }
    .row .col-mobile-offset-2 {
      margin-left: 16.6666666667%; }
    .row .col-mobile-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col-mobile-offset-3 {
      margin-left: 25%; }
    .row .col-mobile-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .row .col-mobile-offset-4 {
      margin-left: 33.3333333333%; }
    .row .col-mobile-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; }
    .row .col-mobile-offset-5 {
      margin-left: 41.6666666667%; }
    .row .col-mobile-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col-mobile-offset-6 {
      margin-left: 50%; }
    .row .col-mobile-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%; }
    .row .col-mobile-offset-7 {
      margin-left: 58.3333333333%; }
    .row .col-mobile-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; }
    .row .col-mobile-offset-8 {
      margin-left: 66.6666666667%; }
    .row .col-mobile-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col-mobile-offset-9 {
      margin-left: 75%; }
    .row .col-mobile-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%; }
    .row .col-mobile-offset-10 {
      margin-left: 83.3333333333%; }
    .row .col-mobile-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%; }
    .row .col-mobile-offset-11 {
      margin-left: 91.6666666667%; }
    .row .col-mobile-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .row .col-mobile-offset-12 {
      margin-left: 100%; } }

/*# sourceMappingURL=grid.css.map */
